* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #F4F5F5;
  color: #23365B; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 8px 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #fff;
  width: 100%; }

input {
  border: 1px solid #022A6A;
    border-radius: 8px;
  height: 40px; }

button {
  border: none;
  padding: 0;
  cursor: pointer; }

.wrapper {
  padding: 24px 0; }

.container {
  padding: 0 15px;
  max-width: 1710px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.fill-none {
  fill: none; }

.logo {
  max-width: 75px;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.no-scroll {
  overflow-y: hidden; }

.list-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 40px 0 0; }
  .list-language li {
    margin: 0 16px 0 0; }
    .list-language li:last-child {
      margin: 0; }
    .list-language li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 2px;
      width: 36px;
      height: 24px;
      overflow: hidden; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 40px;
  border: none;
    border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 240px; }

.btn-icon {
  fill: none;
  stroke: #fff;
  margin: 0 0 0 10px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-accent {
  background: -webkit-gradient(linear, left top, left bottom, from(#F3D576), to(#C29A1B)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
  background: linear-gradient(180deg, #F3D576 0%, #C29A1B 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
  color: #163D8E;
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  border: none;
    border-radius: 4px; }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F3D576), to(#C29A1B)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
    background: linear-gradient(180deg, #F3D576 0%, #C29A1B 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #163D8E; }
  .btn-accent:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#C29A1B), to(#F3D576)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
    background: linear-gradient(180deg, #C29A1B 0%, #F3D576 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #163D8E; }

.btn-blue {
  background: #163D8E;
  color: #fff; }
  .btn-blue:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#163D8E), to(#1E5FE7));
    background: linear-gradient(180deg, #163D8E 0%, #1E5FE7 100%);
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32);
            box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32); }
  .btn-blue:focus {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#1E5FE7), to(#163D8E));
    background: linear-gradient(180deg, #1E5FE7 0%, #163D8E 100%);
    -webkit-box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32);
            box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32); }

.btn:disabled {
  background: #F0F0F0;
  color: #ADADAD;
  pointer-events: none; }

.color-yellow {
  color: #F6B52E; }

.color-green {
  color: #1EB23E; }

.color-red {
  color: #F84B4B; }

.font-600 {
  font-weight: 600; }

header {
  color: #fff;
  background: #022A6A;
  padding: 15px 0; }
  header .container {
    max-width: none;
    padding: 0 16px 0 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .btn {
    max-width: 120px; }

.content {
  width: calc(100% - 367px);
  padding: 0 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .content-wrapper {
    width: calc(100% - 260px);
    padding: 0 24px 0 0; }

.sidebar-right {
  width: 260px; }

.sidebar-box-info {
  width: 100%;
  -webkit-box-shadow: 0 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0 1px 8px rgba(203, 203, 203, 0.24);
  border-radius: 8px;
  border: 1px solid #163D8E;
  background: #fff;
  overflow: hidden;
  margin: 0 0 16px;
  letter-spacing: 0.005em;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on; }
  .sidebar-box-info:last-child {
    margin: 0; }
  .sidebar-box-info__head {
    width: 100%;
    color: #fff;
    padding: 12px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #163D8E;
    min-height: 48px; }
    .sidebar-box-info__head p {
      margin: 0 auto; }
    .sidebar-box-info__head h3 {
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto; }
  .sidebar-box-info__body {
    width: 100%;
    padding: 15px;
    text-align: center; }
    .sidebar-box-info__body .box-text p {
      margin: 0 0 10px;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .sidebar-box-info__body .box-text p:hover {
        color: #F6B52E; }
      .sidebar-box-info__body .box-text p:last-child {
        margin: 0; }

.list-balance {
  line-height: 150%; }
  .list-balance h6 {
    font-size: 18px;
    width: 100%; }
  .list-balance li {
    margin: 0 auto 24px; }

.balance-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.currency {
  margin: 0 0 0 10px; }

.time {
  letter-spacing: 0.005em;
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto; }

.list-course li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .list-course li:hover {
    color: #F6B52E; }
  .list-course li:last-child {
    margin: 0; }
  .list-course li p {
    text-align: center;
    width: 33.3%; }

.sidebar-left {
  width: 367px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #163D8E; }
  .sidebar-left .btn-exit {
    display: none;
    margin: 18px auto 0;
    max-width: 285px; }

.sidebar-box__head {
  background: #163D8E;
  width: 100%;
  color: #fff;
  padding: 11px 20px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sidebar-box__head h3 {
    text-align: center;
    width: 100%;
    padding: 4px 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.005em;
    text-transform: none;
    font-weight: normal;
    font-size: 16px; }

.sidebar-menu__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 0; }
  .sidebar-menu__icon .svg-icon {
    fill: #F6B52E;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.sidebar-menu__icon .svg-icon.fill-none {
  stroke-width: 2px;
  stroke: #F6B52E;
  fill: none; }

.sidebar-menu {
  width: 100%; }
  .sidebar-menu li {
    width: 100%; }
    .sidebar-menu li a {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12px 20px;
      letter-spacing: 0.005em;
      font-size: 16px;
      color: #000;
      -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
              font-feature-settings: 'tnum' on, 'lnum' on; }
      .sidebar-menu li a:hover {
        color: #F6B52E;
        background: transparent; }
        .sidebar-menu li a:hover .sidebar-menu__icon .svg-icon {
          fill: #163D8E; }
        .sidebar-menu li a:hover .sidebar-menu__icon .svg-icon.fill-none {
          stroke-width: 2px;
          stroke: #163D8E;
          fill: none; }
    .sidebar-menu li .active {
      background: #F6B52E;
      color: #fff;
      pointer-events: none; }
      .sidebar-menu li .active .sidebar-menu__icon .svg-icon {
        fill: #fff; }
      .sidebar-menu li .active .sidebar-menu__icon .svg-icon.fill-none {
        stroke: #fff;
        fill: none; }
    .sidebar-menu li .disable {
      color: #A9A9A9;
      background: #F8F8F8; }
      .sidebar-menu li .disable .sidebar-menu__icon .svg-icon {
        fill: #A9A9A9; }
      .sidebar-menu li .disable .sidebar-menu__icon .svg-icon.fill-none {
        stroke: #A9A9A9;
        fill: none; }

.content-box {
  width: 100%;
  border: 1px solid #163D8E;
    border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
  background: #fff; }
  .content-box__head {
    background: #163D8E;
    width: 100%;
    color: #fff;
    padding: 11px 20px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .content-box__head h3 {
      text-align: center;
      width: 100%;
      padding: 4px 12px;
      letter-spacing: 0.005em;
      text-transform: uppercase;
      font-size: 16px; }
  .content-box__body {
    width: 100%;
    padding: 22px 25px 24px; }
    .content-box__body h3 {
      text-align: center;
      margin: 0 auto 16px;
      font-size: 18px;
      font-weight: 600; }
    .content-box__body .box-text {
      text-align: center;
      margin: 0 auto;
      letter-spacing: 0.005em;
      -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
              font-feature-settings: 'tnum' on, 'lnum' on;
      line-height: 150%; }

.content-box-result {
  border: none; }

.form-verification {
  margin: 10px auto 0; }
  .form-verification .btn {
    margin: 12px auto 0;
    max-width: 310px; }
  .form-verification .box-text {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.005em; }

.form-item {
  padding: 10px 18px 12px;
  width: 100%;
  margin: 0 auto 19px;
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
  border: 1px solid #163D8E;
    border-radius: 8px; }
  .form-item__body {
    width: 100%; }
  .form-item__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 9px; }
  .form-item h3 {
    letter-spacing: 0.005em;
    -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
            font-feature-settings: 'tnum' on, 'lnum' on;
    min-width: 250px; }

.label-file {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  letter-spacing: 0.005em;
  color: #163D8E;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on; }

.inp-file {
  display: none; }

.label-file__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  stroke: #163D8E;
  stroke-width: 2px;
  margin: 0 8px 0 0; }

.sidebar-title-mobile {
  margin: 0 0 16px;
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  padding: 12px;
  background: #E0BF54;
  color: #fff;
  display: none;
  min-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sidebar-title-mobile h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase; }

.greeting {
  margin: 0 auto;
  font-size: 24px;
  text-align: center; }
  .greeting strong {
    font-weight: bold; }

.sidebar-box-col {
  display: none; }

.btn-menu {
  display: none; }

.btn-menu.click {
  background: url("../img/close.svg") no-repeat right center;
    background-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .btn-menu.click span {
    display: none; }

.content-box-data {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  margin: 0 0 32px; }

.content-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content-row .content-box {
    width: 49.2%;
    margin: 0 0 16px; }
    .content-row .content-box__body {
      padding: 12px 16px; }

.table-data {
  width: 100%;
  text-align: center;
  font-size: 14px; }
  .table-data .tbody {
    width: 100%; }
  .table-data .tr {
    width: 100%;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .table-data .td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 16px; }
    .table-data .td:first-child {
      width: 43%; }
    .table-data .td:last-child {
      width: 57%; }

.tr {
  background: #fff; }
  .tr:nth-child(even) {
    background: #F4F5F5; }

.list-document {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
  letter-spacing: 0.005em; }
  .list-document li {
    width: 50%;
    margin: 0 0 18px; }
    .list-document li:last-child {
      margin: 0; }

.links-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #23365B;
  line-height: 150%; }
  .links-document:hover {
    color: #F6B52E; }
    .links-document:hover .links-document__icon {
      stroke: #F6B52E; }

.links-document__icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  stroke: #163D8E;
  margin: 0 8px 0 0;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.content-my .content-box {
  margin: 0 0 24px; }
  .content-my .content-box:last-child {
    margin: 0; }

.bg-orange {
  background: #E0BF54; }

.bg-grey {
  background: #F4F5F5; }

.content-box-score {
  border: none;
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24); }

.content-box-table .content-box__body {
  padding: 6px 16px 12px; }

.authorization-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  fill: none; }

.box-balance__wrapper {
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
  border: 1px solid #163D8E;
    border-radius: 8px;
  background: #ffff;
  overflow: hidden;
  margin: 0 0 37px; }

.content-box-balance {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
    border-radius: 0; }
  .content-box-balance .btn {
    margin: 19px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.content-my-info {
  width: 100%;
  margin: 0 0 17px;
  -webkit-box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
          box-shadow: 0px 1px 8px rgba(203, 203, 203, 0.24);
  background: #fff;
  border: 1px solid #163D8E;
    border-radius: 8px;
  padding: 8px; }
  .content-my-info h2 {
    text-align: center;
    width: auto;
    font-size: 28px;
    font-weight: 600;
    color: #163D8E; }

.logo-my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 87px;
  width: 100%; }

.content-my-info__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px; }

.status-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px; }

.status-score__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0; }
  .status-score__item:last-child {
    margin: 0; }
  .status-score__item .icon {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.list-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .list-info li {
    margin: 0 0 16px; }
    .list-info li:first-child, .list-info li:nth-child(2) {
      width: 50%; }
  .list-info p {
    color: #F6B52E; }
  .list-info span {
    font-size: 18px; }
  .list-info .color-green {
    color: #1EB23E; }

.content-my-score .content-wrapper {
  width: calc(100% - 400px); }

.content-my-score .sidebar-right {
  width: 400px; }

.circle-diagram {
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0 8px 24px rgba(22, 61, 142, 0.24);
          box-shadow: 0 8px 24px rgba(22, 61, 142, 0.24);
  margin: 0 auto; }

.bg-circle-green {
  background: #B6E359; }

.bg-circle-orange {
  background: #F6A652; }

.bg-circle-red {
  background: #E75353; }

.bg-circle-yellow {
  background: #F2EF4F; }

.bg-circle-blue {
  background: #31A3F9; }

.bg-circle-violet {
  background: #A57BD7; }

.bg-circle-light-blue {
  background: #54D2FA; }

.circle-diagram-list {
  width: 100%;
  margin: 40px auto 0; }
  .circle-diagram-list li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
    margin: 0 0 25px; }
    .circle-diagram-list li:last-child {
      margin: 0; }
    .circle-diagram-list li strong {
      margin: 0 0 0 auto;
      color: #F6B52E;
      font-weight: 600;
      font-size: 18px; }
    .circle-diagram-list li p {
      max-width: 230px;
      width: 100%; }

.circle-pik {
  margin: 0 11px 0 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  min-width: 17px; }

.content-history .content-wrapper {
  padding: 0;
  width: 100%; }

.table {
  line-height: 150%;
  width: 100%;
  letter-spacing: 0.005em; }
  .table td {
    padding: 13px 16px;
    text-align: center;
    vertical-align: middle; }

thead {
  width: 100%;
  color: #F6B52E;
  border-bottom: 1px solid #F0F0F0; }

tbody {
  font-size: 14px;
  line-height: 140%; }

tr {
  background: #fff; }
  tr:nth-child(even) {
    background: #F4F5F5; }

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 38px auto 0; }
  .pagination li {
    margin: 0 16px 0 0; }
    .pagination li:last-child {
      margin: 0; }
    .pagination li a {
      width: 32px;
      height: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1.5px solid #A9A9A9;
        border-radius: 4px;
      text-align: center;
      color: #A9A9A9;
      letter-spacing: 0.005em; }
    .pagination li .active {
      background: #163D8E;
      color: #fff;
      border-color: #163D8E; }
    .pagination li .disable {
      background: #F0F0F0; }
    .pagination li .svg-icon {
      stroke: #A9A9A9;
      width: 6px;
      height: 11px;
      fill: none; }

.form-account {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-account label {
    max-width: 264px;
    width: 100%; }
  .form-account input::-webkit-input-placeholder {
    color: #A9A9A9; }
  .form-account input::-moz-placeholder {
    color: #A9A9A9; }
  .form-account input::-ms-input-placeholder {
    color: #A9A9A9; }
  .form-account input::placeholder {
    color: #A9A9A9; }

.input-text {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 0 auto 8px;
  color: #F6B52E; }

.select2-container {
  width: 100%; }

.select2-container .select2-selection--single {
  height: 40px;
  border: 1px solid #163D8E;
    border-radius: 8px;
  outline: none; }

.select2-container .select2-selection--single .select2-selection__rendered {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A9A9A9;
  font-size: 18px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 17px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 8px;
  height: 5px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: contain; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.select2-search--dropdown {
  display: none; }

.select2-dropdown {
  margin: 9px auto 0;
  border: 1px solid #163D8E;
    border-radius: 4px;
  overflow: hidden;
  padding: 8px; }

.select2-container--open .select2-dropdown--below {
  border: 1px solid #163D8E;
    border-radius: 4px; }

.select2-results__option {
  padding: 8px;
  font-size: 18px; }

.select2-container--default .select2-results__option--selected {
  background: transparent; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #163D8E; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 8px; }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__rendered, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple .select2-selection__rendered {
    color: #23365B; }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__arrow, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple .select2-selection__arrow {
    -webkit-transform: rotate(180deg) translate(0);
            transform: rotate(180deg) translate(0); }

.list-number {
  text-align: left;
  margin: 34px 0 0;
  font-size: 12px;
  counter-reset: item;
  line-height: 150%; }
  .list-number li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-number li:before {
      content: counters(item, ".") ". ";
      display: inline;
      counter-increment: item;
      margin: 0 5px 0 0; }

.transfer-form {
  width: 100%; }
  .transfer-form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .transfer-form .name-score {
    max-width: 386px;
    width: 100%; }
    .transfer-form .name-score .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .transfer-form .name-score .form-group span {
        font-size: 16px;
        font-weight: 600;
        color: #23365B; }
      .transfer-form .name-score .form-group input {
        margin: 0 10px;
        max-width: 184px; }
  .transfer-form .form-group-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .transfer-form .form-group-bottom label {
      width: calc(100% - 264px);
      padding: 0 32px 0 0; }
  .transfer-form button {
    margin: 0 0 3px auto;
    max-width: 264px; }
  .transfer-form input::-webkit-input-placeholder {
    color: #A9A9A9; }
  .transfer-form input::-moz-placeholder {
    color: #A9A9A9; }
  .transfer-form input::-ms-input-placeholder {
    color: #A9A9A9; }
  .transfer-form input::placeholder {
    color: #A9A9A9; }
  .transfer-form textarea {
    height: 96px;
    padding: 7px 16px;
    border: 1px solid #163D8E;
      border-radius: 8px; }
    .transfer-form textarea::-webkit-input-placeholder {
      color: #A9A9A9; }
    .transfer-form textarea::-moz-placeholder {
      color: #A9A9A9; }
    .transfer-form textarea::-ms-input-placeholder {
      color: #A9A9A9; }
    .transfer-form textarea::placeholder {
      color: #A9A9A9; }
  .transfer-form .checkbox {
    margin: 29px 0;
    max-width: none; }

.form-group-top {
  max-width: 559px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-group-top label {
    max-width: 47%; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #23365B;
  font-size: 14px;
  cursor: pointer; }

.checkbox-inp {
  display: none; }

.checkbox-custom {
  position: relative;
  width: 18px;
  height: 18px;
  min-width: 18px;
  background: #fff;
  border: 1px solid #163D8E;
    border-radius: 4px;
  margin: 0 8px 0 0; }

.checkbox-inp:checked + .checkbox-custom {
  background: #163D8E; }
  .checkbox-inp:checked + .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 12px;
    height: 9px;
    background: url("../img/checkbox.svg") no-repeat center;
      background-size: contain; }

.form-score {
  width: 100%; }
  .form-score label {
    width: 100%;
    margin: 0 0 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .form-score .input-text {
    width: 50%;
    color: #23365B;
    margin: 0; }
  .form-score input {
    max-width: 160px;
    text-align: center; }
    .form-score input::-webkit-input-placeholder {
      color: #A9A9A9; }
    .form-score input::-moz-placeholder {
      color: #A9A9A9; }
    .form-score input::-ms-input-placeholder {
      color: #A9A9A9; }
    .form-score input::placeholder {
      color: #A9A9A9; }

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px 0 0; }

.links-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #163D8E; }

.links-next-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #163D8E;
  margin: 0 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.total-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  white-space: nowrap; }
  .total-value .btn {
    width: 264px; }
  .total-value p {
    color: #F6B52E; }

.sum-total-value {
  margin: 0 30px 0 48px;
  font-size: 18px;
  font-weight: 600;
  color: #163D8E; }

.btn-wrap {
  width: 100%;
  margin: 0 0 25px; }

.form-wbs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .form-wbs .form-group {
    max-width: 640px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 38px; }
  .form-wbs label {
    max-width: 264px; }
  .form-wbs .sum-total-value {
    margin: 0 0 0 48px; }
  .form-wbs .total-value {
    margin: 0 0 10px auto; }
  .form-wbs button {
    margin: 0 auto; }
  .form-wbs .checkbox {
    max-width: none; }
  .form-wbs .form-footer {
    position: relative; }

.content-box-wbs .logo-my {
  max-width: 144px; }

.content-box-wbs .form-wbs .checkbox {
  margin: 43px 0 33px; }

.content-box-wbs .form-wbs .form-group {
  max-width: none; }
  .content-box-wbs .form-wbs .form-group input {
    width: 100%;
    max-width: none; }

.content-box-wbs .name-score {
  max-width: 412px;
  width: 100%; }

.form-password {
  width: 100%;
  max-width: 762px;
  margin: 0 auto; }
  .form-password button {
    margin: 0 auto; }
  .form-password label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 0 24px; }
  .form-password .input-text {
    margin: 0;
    width: calc(100% - 360px);
    text-align: left; }
  .form-password input, .form-password .select-wrap {
    max-width: 360px;
    width: 100%; }
    .form-password input::-webkit-input-placeholder, .form-password .select-wrap::-webkit-input-placeholder {
      color: #A9A9A9; }
    .form-password input::-moz-placeholder, .form-password .select-wrap::-moz-placeholder {
      color: #A9A9A9; }
    .form-password input::-ms-input-placeholder, .form-password .select-wrap::-ms-input-placeholder {
      color: #A9A9A9; }
    .form-password input::placeholder, .form-password .select-wrap::placeholder {
      color: #A9A9A9; }
  .form-password .box-text {
    margin: 0 auto 11px;
    text-align: center;
    font-size: 14px; }

.description-form {
  display: block;
  color: #23365B;
  font-size: 12px; }

.form-output, .output-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 657px;
  margin: 0 auto; }
  .form-output .btn, .output-wrapper .btn {
    max-width: 264px; }
  .form-output label, .output-wrapper label {
    max-width: 320px; }

.output-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .output-wrapper .box-text {
    text-align: center;
    margin: 0 auto 18px; }
  .output-wrapper .remainder-box {
    margin: 0 auto 14px; }

.output-box {
  margin: 0 0 20px;
  border: 1px solid #163D8E;
    border-radius: 8px;
  background: #fff;
  text-align: center;
  padding: 4px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .output-box p {
    color: #F6B52E; }

.remainder-box p {
  color: #F6B52E; }

.necessarily {
  width: 100%;
  margin: 14px 0 0;
  color: #A9A9A9;
  font-size: 12px; }

.content-box-contract .output-wrapper {
  max-width: 830px; }

.content-box-contract .form-output {
  max-width: 731px; }
  .content-box-contract .form-output .checkbox {
    max-width: none;
    width: 100%;
    margin: 28px 0; }
  .content-box-contract .form-output .form-group {
    max-width: 633px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .content-box-contract .form-output .form-group label {
      max-width: 270px;
      width: 100%; }

.content-box-contract .output-box {
  width: 38%; }

.content-box-contract .output-box-max {
  width: 60%; }

.js-tab-content {
  display: none; }

.js-tab-content.active {
  display: block; }

.tabs {
  width: 100%; }

.tab-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 32px; }
  .tab-header li {
    border: 1px solid #163D8E;
    background: #fff;
    width: 140px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #F6B52E;
    margin: 0 -1px 0 0;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .tab-header li:hover {
      background: #163D8E;
      color: #fff; }
    .tab-header li:last-child {
      margin: 0;
      border-radius: 0 4px 4px 0; }
    .tab-header li:first-child {
      border-radius: 4px 0 0 4px; }
  .tab-header .active {
    -webkit-box-shadow: 0px 4px 4px rgba(22, 61, 142, 0.16);
            box-shadow: 0px 4px 4px rgba(22, 61, 142, 0.16);
    background: #163D8E;
    color: #fff; }

.chart {
  width: 100%;
  height: 413px; }

.title-chart-my {
  width: 100%;
  text-align: center; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1550px) {
  .form-account label {
    max-width: 32%; } }

@media only screen and (max-width: 1460px) {
  .table {
    font-size: 14px; }
    .table td {
      padding: 10px; }
  .form-account label {
    max-width: 264px;
    margin: 0 auto 30px; }
  .form-account button {
    margin: 0 auto; } }

@media only screen and (max-width: 1410px) {
  .content-my-score .sidebar-right {
    width: 300px; }
  .content-my-score .content-wrapper {
    width: calc(100% - 300px); }
  .transfer-form .name-score .form-group span {
    font-size: 14px; }
  .transfer-form .name-score {
    max-width: 360px; }
  .total-value {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    max-width: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 36px 0 30px; }
    .total-value p {
      text-align: center;
      width: 50%; }
  .sum-total-value {
    margin: 0;
    width: 160px;
    text-align: center; }
  .form-footer {
    margin: 0; }
    .form-footer .btn {
      margin: 0 0 0 auto; }
  .form-wbs .total-value, .form-wbs .sum-total-value {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .content-box-wbs .name-score {
    max-width: 356px; }
  .content-box-wbs .logo-my {
    max-width: 108px; }
  .content-box-wbs .list-info li {
    width: 100%; }
  .content-box-wbs .form-wbs .checkbox {
    margin: 27px 0 37px; }
  .output-box, .form-output label, .form-output .btn {
    max-width: 48%; }
  .content-box-contract .output-box {
    max-width: none; } }

@media only screen and (max-width: 1370px) {
  .table-data {
    font-size: 12px; }
  .content-box-wbs .name-score {
    max-width: 270px; } }

@media only screen and (max-width: 1330px) {
  .table-data {
    font-size: 11px; }
  .content-my-score .sidebar-right {
    width: 100%; }
  .content-my-score .content-wrapper {
    width: 100%;
    padding: 0; }
  .content-my-score .sidebar-box-info {
    width: 100%; }
  .sidebar-box-info-strategy .sidebar-box-info__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .circle-diagram {
    margin: 0;
    max-width: 279px;
    height: 279px; }
  .circle-diagram-list {
    max-width: 325px;
    margin: 0 0 0 auto; }
  .table td {
    padding: 5px; }
  .transfer-form .content-my-info__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .transfer-form .logo-my:last-child {
    display: none; }
  .transfer-form-rla .content-my-info__head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .transfer-form-rla .name-score {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: none; }
  .transfer-form-rla .logo-my:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .transfer-form .form-group-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .transfer-form .form-group-bottom label {
      padding: 0;
      width: 100%; }
  .transfer-form button {
    margin: 26px auto 0; }
  .transfer-form .checkbox {
    margin: 20px 0 16px; }
  .form-wbs .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form-wbs .total-value {
    margin: 30px auto 0; }
  .content-box-wbs .name-score {
    max-width: none;
    width: 100%; }
  .content-box-wbs .logo-my {
    margin: 0 auto 17px; }
    .content-box-wbs .logo-my:last-child {
      display: none; }
  .content-box-wbs .content-my-info__head {
    margin: 0; } }

@media only screen and (max-width: 1200px) {
  .sidebar-left {
    width: 288px; }
  .content {
    width: calc(100% - 288px);
    padding: 0 0 0 15px; }
  .greeting {
    display: block; }
  header .container {
    padding: 0 15px; }
  .content-wrapper {
    width: 100%;
    padding: 0; }
  .sidebar-right {
    width: 100%;
    margin: 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .sidebar-title-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar-box-info {
    width: 49%; }
  .sidebar-box-time {
    width: 100%; }
  .sidebar-box__head h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: none;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal; }
  .sidebar-box-contracts, .sidebar-box-course {
    display: none; }
  .sidebar-box-col {
    width: 49%;
    display: block; }
    .sidebar-box-col .sidebar-box-contracts, .sidebar-box-col .sidebar-box-course {
      display: block;
      width: 100%; }
  .table-data {
    font-size: 14px; }
  .form-wbs .links-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .form-wbs .form-footer .links-next {
    margin: 0; }
  .btn-wrap {
    display: none; }
  .form-password input, .form-password .select-wrap {
    max-width: 330px; }
  .form-password .input-text {
    width: calc(100% - 330px); } }

@media only screen and (max-width: 1100px) {
  .table td {
    padding: 0;
    text-align: left; }
  .content-box-history {
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent; }
    .content-box-history .content-box__body {
      padding: 0; }
  thead {
    display: none; }
  tr {
    background: #fff;
    margin: 0 0 8px;
    display: block;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    padding: 15px;
    -webkit-box-shadow: 0 1px 8px rgba(203, 203, 203, 0.24);
            box-shadow: 0 1px 8px rgba(203, 203, 203, 0.24);
    border: 1px solid #163D8E;
      border-radius: 8px; }
    tr:nth-child(even) {
      background: #fff; }
  td {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 16px; }
    td p {
      display: inline-block;
      width: 50%; }
    td:last-child {
      margin: 0; }
    td:before {
      content: attr(data-table);
      display: inline-block;
      width: 50%;
      color: #F6B52E;
      text-align: right;
      padding: 0 15px 0 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .table-data .td {
    padding: 0; }
  .greeting {
    font-size: 20px; }
  .content-row .content-box, .list-document li {
    width: 100%; }
  .content-my-info h2 {
    font-size: 20px; }
  .status-score__item {
    font-size: 14px; }
  .circle-diagram-list {
    width: 100%;
    margin: 40px auto 0;
    max-width: none; }
  .circle-diagram {
    max-width: 262px;
    height: 262px;
    margin: 0 auto; }
  .form-password input, .form-password .select-wrap {
    max-width: 220px; }
  .form-password .input-text {
    width: calc(100% - 220px); } }

@media only screen and (max-width: 900px) {
  .content-my-info__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .logo-my:last-child {
    display: none; }
  .status-score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .status-score__item {
    margin: 0 auto 5px; }
  .name-score {
    margin: 13px auto 0; }
  .list-info li {
    width: 50%; }
    .list-info li:first-child, .list-info li:nth-child(2) {
      width: 100%; }
  tr {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .content-box-contract .form-output .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .content-box-contract .form-output .form-group label {
    max-width: none;
    margin: 0 auto 24px; }
  .content-box-contract .output-box-max, .content-box-contract .output-box {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .greeting {
    font-size: 16px; }
  .sidebar-left {
    display: none;
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    overflow-y: auto;
    z-index: 3;
    width: 100%;
    border-radius: 0;
    background: #fff;
    padding: 0 0 60px; }
    .sidebar-left .btn-exit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .list-language {
    margin: 0 20px 0 0; }
    .list-language li a {
      width: 24px;
      height: 16px; }
  .content {
    width: 100%;
    padding: 0; }
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header {
    padding: 10px 0; }
    header .btn-exit {
      display: none; }
    header .btn {
      max-width: 101px; }
  .logo {
    max-width: 90px; }
  .sidebar-menu li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wrapper {
    padding: 20px 0 70px; }
  td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 11px; }
    td:before {
      width: 50%;
      text-align: center;
      padding: 0; }
    td p {
      width: 50%; }
  .table td {
    text-align: center; }
  .form-account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .output-box, .form-output label, .form-output .btn {
    max-width: 100%;
    width: 100%; }
  .form-output .btn {
    margin: 36px auto 0; } }

@media only screen and (max-width: 650px) {
  .greeting {
    display: none; } }

@media only screen and (max-width: 576px) {
  .form-item__head h3 {
    min-width: auto;
    width: 100%;
    margin: 0 auto 8px;
    text-align: center; }
  .content-box__body {
    padding: 16px 10px; }
  .form-item {
    padding: 20px 23px 18px;
    margin: 0 auto 15px; }
  .time {
    width: 100%;
    text-align: center; }
  .sidebar-box-info__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sidebar-box-contracts, .sidebar-box-course {
    display: block; }
  .sidebar-box-col {
    display: none; }
  .sidebar-box-info {
    width: 100%; }
  .table-data {
    font-size: 12px; }
  body {
    background: #fff; }
  .container {
    padding: 0 10px; }
  .content-box-table .content-box__body {
    padding: 6px 0 0; }
  .content-box-table .table-data .tr {
    min-height: 99px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: inset 0px -1px 0px #163D8E;
            box-shadow: inset 0px -1px 0px #163D8E; }
    .content-box-table .table-data .tr:nth-child(even) {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .content-box-table .table-data .tr:last-child {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .content-box-table .table-data .td {
    margin: 7px auto; }
  .content-my .content-box {
    margin: 0 auto 15px; }
  .form-group-top label {
    width: 100%;
    margin: 0 0 40px;
    max-width: none; }
    .form-group-top label:last-child {
      margin: 0; }
  .transfer-form .checkbox {
    margin: 40px 0; }
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 39px; }
    .form-footer .links-next {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .form-footer .btn {
      margin: 0 auto 35px; }
  .total-value {
    margin: 15px auto 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .total-value p {
      margin: 0 auto 9px;
      width: 100%; }
  .form-score label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 18px 22px;
    border-top: 1px solid #163D8E;
    margin: 0; }
    .form-score label:nth-child(even) {
      background: #F4F5F5; }
    .form-score label:first-child {
      border: none; }
  .form-score .input-text {
    margin: 0 auto 8px;
    width: 100%; }
  .form-score input {
    max-width: 100%; }
  .content-box-score-rl .content-box__body {
    padding: 0; }
  .form-wbs .total-value, .form-wbs .sum-total-value {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .form-wbs .total-value {
    margin: 30px auto 0; }
  .form-password label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 32px;
    position: relative; }
  .form-password .input-text {
    max-width: none;
    margin: 0 0 8px;
    text-align: center;
    width: 100%; }
  .form-password input, .form-password .select-wrap {
    max-width: none; }
  .remainder-box {
    width: 100%;
    text-align: center;
    margin: 0 auto 40px; }
  .output-wrapper .btn {
    margin: 0 auto; }
  .content-box-contract .form-output .form-group label {
    margin: 0; }
  .tab-header li {
    width: 120px; } }
